.empty{
  background-color:#eee;
}
li{
  list-style: none;

}
/*个人信息*/
.empty .personData{
  /*border:1px solid black;*/
  height:150px;
  width:100%;
  background-color:#bbb;
  line-height:100px;
  /*vertical-align:middle;*/
  /*text-align:center;*/
}
/*头像*/
.empty .personData .portrait{
  display:inline-block;
  vertical-align:middle;
  height:50px;
  width:50px;
  /*border:1px solid black;*/
  border-radius:50%;
  margin-left:10px;
}
/*头像图片*/
.empty .personData .portrait img{
  height:50px;
  width:50px;
  border-radius:50%;
}
.empty .personData .personName,.empty .personData .log_on,.empty .personData .user_name{
  font-weight:bold;
  font-size:21px;
  color:#ffd;
  display:inline-block;
  vertical-align:top;
}
/*.empty .personData .user_name{
  display:none;
}
.empty .personData .user_name li{
  display:inline-block;
}*/
